---
import Category from "./Category.astro";

interface Props {
  experiences: Array<{
    id: number;
    date: string;
    title: string;
    role: string;
    description: string;
    techStack: string[];
    link: string;
    certificateLink: string;
  }>;
  experiencesLink: string;
}

const { experiences, experiencesLink } = Astro.props;
---

<section>
  <div id="experience" class="mb-5">
    <h2 class="text-xl font-semibold pb-8 xl:hidden">EXPERIENCE</h2>
    <div class="space-y-8 xl:relative group">
      {
        experiences.map((experience) => (
          <div
            class="rounded-xl transition-all duration-300 cursor-pointer xl:grid grid-cols-8 justify-between space-y-2 xl:py-5  group-hover:opacity-40 hover:opacity-100! group/title"
            onclick={`window.open('${experience.link}', '_blank')`}
          >
            <p class="text-sm text-gray-500 col-span-2 xl:mt-1">
              {experience.date}
            </p>
            <div class="col-span-6 xl:ml-4">
              <h3 class="text-lg font-semibold group-hover/title:text-cyan-600 transition-all duration-300">
                {experience.title}{" "}
              </h3>
              <p class="text-md font-medium  mb-3 text-gray-700">
                {experience.role}
              </p>
              <p class="text-gray-700 leading-relaxed">
                {experience.description}
              </p>

              <div class="flex flex-wrap gap-2 mt-4 mb-5">
                {experience.techStack.map(
                  (tech: string) => tech && <Category tech={tech} />,
                )}
              </div>

              {experience.certificateLink && (
                <a
                  href={experience.certificateLink}
                  onclick="event.stopPropagation()"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="relative mb-10 font-medium text-cyan-600 hover:text-cyan-800 transition
             after:absolute after:right-0 after:-bottom-1 after:h-0.5 after:w-full after:bg-cyan-600
             after:scale-x-0 after:origin-left after:transition-transform after:duration-200
             hover:after:scale-x-100"
                >
                  View Certificate
                </a>
              )}
            </div>
          </div>
        ))
      }
    </div>
  </div>
  <a
    href="resume.pdf"
    onclick="event.stopPropagation()"
    target="_blank"
    rel="noopener noreferrer"
    class="font-semibold hover:text-cyan-600 xl:pl-1 text-xl transition-all duration-300"
  >
    View Full Résumé →
  </a>
</section>
