---
import { getEntry } from "astro:content";
import Experience from "./Experience.astro";
import Project from "./Project.astro";
import Footer from "./Footer.astro";
import Navbar from "./Navbar.astro";
import About from "./About.astro";
import Header from "./Header.astro";

// Load portfolio data
const portfolioData = await getEntry("portfolio", "portfolio");
const {
  about,
  experiences,
  projects,
  experiencesLink,
  projectsLink,
  linkedIn,
  gitHub,
  email,
} = portfolioData!.data;
---

<div
  class="flex flex-col mx-auto max-w-360 px-6 xl:px-15 py-10 xl:justify-between xl:flex-row xl:py-0"
>
  <Header linkedIn={linkedIn} gitHub={gitHub} email={email} />

  <main class="flex flex-col space-y-16 xl:max-w-2xl">
    <About about={about}  />
    <Experience experiences={experiences} , experiencesLink={experiencesLink} />
    <Project projects={projects} , projectsLink={projectsLink} />
    <Footer />
  </main>
</div>
